.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Demo/FHKDesignSystemDemo/FHKDesignSystemDemo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Package.resolved
