name: iOS CI

on:
  pull_request:
    branches: [develop]

jobs:
  test:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Xcode 16.2
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.2'
    
    # 1. Arreglar Package.swift para CI
    - name: Fix Package.swift
      run: |
        sed -i '' 's/\.iOS(\.v26)/.iOS(.v18)/g' Package.swift
    
    # 2. Arreglar ruta del paquete
    - name: Fix path
      run: |
        mkdir -p /Users/runner/work/fintechKids-modulo-designsystem-ios
        ln -sf "$(pwd)" /Users/runner/work/fintechKids-modulo-designsystem-ios/FHKDesignSystem
    
    # 3. Ejecutar tests
    - name: Run tests
      run: |
        swift test --parallel
        cd Demo/FHKDesignSystemDemo
        xcodebuild test \
          -project FHKDesignSystemDemo.xcodeproj \
          -scheme FHKDesignSystemDemo \
          -destination 'platform=iOS Simulator,name=iPhone 15' \
          CODE_SIGNING_ALLOWED=NO
