name: iOS CI with SPM

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer

    - name: Resolve Swift Packages
      run: |
        xcodebuild -resolvePackageDependencies -workspace FHKDesignSystem.xcworkspace -scheme FHKDesignSystem

    - name: Build Package
      run: |
        xcodebuild -workspace FHKDesignSystem.xcworkspace -scheme FHKDesignSystem -destination 'generic/platform=iOS' build

    - name: Build Demo
      run: |
        xcodebuild -workspace FHKDesignSystem.xcworkspace -scheme FHKDesignSystemDemo -destination 'platform=iOS Simulator,name=iPhone 15' build

    - name: Run Tests
      run: |
        xcodebuild test -workspace FHKDesignSystem.xcworkspace -scheme FHKDesignSystem -destination 'platform=iOS Simulator,name=iPhone 15,OS=latest'
