name: iOS Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: macos-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.0.app/Contents/Developer
    
    - name: Install CocoaPods
      run: |
        pod install
      # O si usas SPM, omite este paso
    
    - name: Build and Test
      run: |
        xcodebuild test \
          -workspace fintechKids-modulo-designsystem-ios.xcworkspace \
          -scheme fintechKids-modulo-designsystem-ios \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
          -enableCodeCoverage YES \
          | xcpretty
